<html>

<head>
	<title>
		bowtie icon font demo</title>
	<link href="assets/css/bowtie.css" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<style>
		body {
			background-color: #fff;
		}

		.icon-list span.name {
			padding-left: 4px;
			font-size: 12px;
		}

		.icon-list {
			columns: 3 200px;
			-webkit-columns: 3 200px;
			-moz-columns: 3 200px;
		}

		#iconlist li .item {
			padding: 4px;
		}

		#iconlist li .item:hover {
			cursor: pointer;
			color: #fff;
			background-color: #007acc;
		}

		#iconlist .modal-content {
			padding: 30px;
		}

		#iconlist .modal-content .sizes .bowtie {
			padding: 10px;
		}

		#iconlist .modal-content .metadata {
			font-size: 12px;
			color: #888;
		}

		#iconlist .modal-content .metadata span {
			padding-right: 30px;
		}
	</style>
</head>

<body ng-app="app">
	<div class="container" ng-controller="MainController as mainCtrl">
		<div class="row">
			<div class="text-center">
				<h1>Bowtie icon font</h1>
				<div class="text-left">
					<div class="changelog">
						<p>New icons:</p>
						<ul class="list-unstyled icon-list">
							<li ng-repeat="icon in icons | orderBy:'-id' | limitTo: 9"><span class="bowtie bowtie-{{icon.name}}"></span><span class="name" title="{{icon.name}}" aria-label="{{icon.name}}">bowtie-{{icon.name}} ({{icon.unicode}})</span></li>
						</ul>
					</div>
					<br>
					<div class="instruction">
						<p>For VSTS, the Bowtie icon font is already referenced in the core CSS. Here are the key CSS classes to be aware of: .bowtie-icon sets the font-family, size, color and line-height accordingly. Apply this style to the element you want to contain your
							icon (typically an <code>&lt;i&gt;</code>, <code>&lt;span&gt;</code>, or <code>&lt;div&gt;</code>). Next you'll want to apply the content class for the icon you want. Use the below catalog to find the class names.</p>
						<h4>Spinning animation</h4>
						<p>You can apply spinning animation class to these icons:</p>
						<ul>
							<li><span class="bowtie bowtie-synchronize bowtie-ani-spin"></span> bowtie-synchronize with <code>bowtie-ani-spin</code> class</li>
							<li><span class="bowtie bowtie-spinner bowtie-ani-spin-pulse"></span> bowtie-spinner with <code>bowtie-ani-spin-pulse</code> class</li>
						</ul>
								<h4>Status badge overlay with white halo</h4>
								<p>TBD</p>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 clearfix">
							<input id="searchbox" class="search form-control" placeholder="Search" ng-model="query" />
							<br />
						</div>
						<div class="well col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
							<ul class="list-unstyled icon-list" id="iconlist">
								<li ng-repeat="icon in icons | orderBy:['decimal','-group'] | filter:query" data-metadata="{{icon}}">
									<div class="item" data-toggle="modal" data-target="#modal{{icon.id}}">
										<span class="bowtie bowtie-{{icon.name}}"></span><span class="name" aria-label="{{icon.name}}">bowtie-{{icon.name}}({{icon.unicode}})</span>
									</div>
									<div id="modal{{icon.id}}" class="modal fade" tabindex="-1" role="dialog">
										<div class="modal-dialog modal-md">
											<div class="modal-content">
												<div class="sizes">
													<span class="bowtie bowtie-{{icon.name}} bowtie-5x"></span>
													<span class="bowtie bowtie-{{icon.name}} bowtie-4x"></span>
													<span class="bowtie bowtie-{{icon.name}} bowtie-3x"></span>
													<span class="bowtie bowtie-{{icon.name}} bowtie-2x"></span>
													<span class="bowtie bowtie-{{icon.name}} bowtie-1x"></span>
												</div>
												<h3>bowtie-{{icon.name}}</h3>
												<div class="input-group">
													<input type="text" id="txtCopy{{icon.id}}" class="form-control" value="&lt;span class=&quot;bowtie-icon bowtie-{{icon.name}}&quot;&gt;&lt;/span&gt;" />
													<span class="input-group-btn">
        <button id="btnCopy{{icon.id}}" data-clipboard-target="#txtCopy{{icon.id}}" class="btn btn-secondary" type="button" ng-click="copyToClipboard($event)" data-toggle="tooltip"><span class="bowtie bowtie-edit-copy"></span>
													</button>
													</span>
												</div>

												<br>
												<div class="metadata">
													<p>
														<span>Unicode: {{icon.unicode}}</span><span>Version: v{{icon.version}}</span>
														<span>Group: {{icon.group}}</span>
													</p>
													<p>Usage: {{icon.usage}}</p>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
		(function() {
			var app = angular.module('app', []);
			app.factory('copyToClipboard', function() {
				return {
					copy: function(btn) {
						document.execCommand('copy', false, $($(btn).data('clipboard-target')).select());
					}
				};
			});
			app.controller('MainController', ['$document', '$scope', '$http', 'copyToClipboard', function($document, $scope, $http, copyToClipboard) {
				//load data from json
				$scope.url = '/bowtie.json';
				$scope.icons = [];
				$http.get($scope.url).success(function(data) {
					$scope.icons = data;
				});

				//copy to clipboard
				$scope.copyToClipboard = function() {
					copyToClipboard.copy(event.currentTarget);
				};
			}]);
		})();
		//@ sourceURL=pen.js
	</script>
</body>

</html>
