@font-face {
  font-family: "bowtie";
  src: url('../icons/draft/bowtie.eot');
  src: url('../icons/draft/bowtie.eot?#iefix') format('eot'),
    url('../icons/draft/bowtie.woff') format('woff'),
    url('../icons/draft/bowtie.ttf') format('truetype'),
    url('../icons/draft/bowtie.svg#bowtie') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bowtie:before {
  display: inline-block;
  font-family: "bowtie";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bowtie-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.bowtie { font-size: 1em; }
.bowtie-2x { font-size: 2em; }
.bowtie-3x { font-size: 3em; }
.bowtie-4x { font-size: 4em; }
.bowtie-5x { font-size: 5em; }
.bowtie-fw {
  width: 1.2857142857142858em;
  text-align: center;
}


.bowtie-bowtie:before {
	content: "\EA01";
}

.bowtie-brand-maven:before {
	content: "\EA02";
}

.bowtie-brand-npm:before {
	content: "\EA03";
}

.bowtie-format-bold:before {
	content: "\EA04";
}

.bowtie-format-clear:before {
	content: "\EA05";
}

.bowtie-format-font-color:before {
	content: "\EA06";
}

.bowtie-format-font-size:before {
	content: "\EA07";
}

.bowtie-format-indent-decrease:before {
	content: "\EA08";
}

.bowtie-format-indent-increase:before {
	content: "\EA09";
}

.bowtie-format-italic:before {
	content: "\EA0A";
}

.bowtie-format-link-add-heavy:before {
	content: "\EA0B";
}

.bowtie-format-list-ordered:before {
	content: "\EA0C";
}

.bowtie-format-list-unordered:before {
	content: "\EA0D";
}

.bowtie-format-underline:before {
	content: "\EA0E";
}

.bowtie-link-add:before {
	content: "\EA0F";
}

.bowtie-link-remove-heavy:before {
	content: "\EA10";
}

.bowtie-link-remove:before {
	content: "\EA11";
}

.bowtie-st-format-font-color-1:before {
	content: "\EA12";
}

.bowtie-st-format-font-color-2:before {
	content: "\EA13";
}

.bowtie-st-format-link-add-heavy-1:before {
	content: "\EA14";
}

.bowtie-st-format-link-add-heavy-2:before {
	content: "\EA15";
}

.bowtie-st-link-add-1:before {
	content: "\EA16";
}

.bowtie-st-link-add-2:before {
	content: "\EA17";
}

.bowtie-st-link-remove-1:before {
	content: "\EA18";
}

.bowtie-st-link-remove-2:before {
	content: "\EA19";
}

.bowtie-st-link-remove-heavy-1:before {
	content: "\EA1A";
}

.bowtie-st-link-remove-heavy-2:before {
	content: "\EA1B";
}
