@font-face {
  font-family: "bowtie";
  src: url('../fonts/bowtie.eot');
  src: url('../fonts/bowtie.eot?#iefix') format('eot'),
    url('../fonts/bowtie.woff') format('woff'),
    url('../fonts/bowtie.ttf') format('truetype'),
    url('../fonts/bowtie.svg#bowtie') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bowtie:before {
  display: inline-block;
  font-family: "bowtie";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bowtie-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.bowtie-2x { font-size: 2em; }
.bowtie-3x { font-size: 3em; }
.bowtie-4x { font-size: 4em; }
.bowtie-5x { font-size: 5em; }
.bowtie-fw {
  width: 1.2857142857142858em;
  text-align: center;
}


.bowtie-alert:before {
	content: "\E001";
}

.bowtie-approve-disapprove-fill:before {
	content: "\E002";
}

.bowtie-approve-disapprove:before {
	content: "\E003";
}

.bowtie-approve-fill:before {
	content: "\E004";
}

.bowtie-approve:before {
	content: "\E005";
}

.bowtie-arrow-down:before {
	content: "\E006";
}

.bowtie-arrow-left:before {
	content: "\E007";
}

.bowtie-arrow-right:before {
	content: "\E008";
}

.bowtie-arrow-up:before {
	content: "\E009";
}

.bowtie-attach:before {
	content: "\E00A";
}

.bowtie-azure-api-management:before {
	content: "\E00B";
}

.bowtie-azure-service-endpoint:before {
	content: "\E00C";
}

.bowtie-build:before {
	content: "\E00D";
}

.bowtie-check:before {
	content: "\E00E";
}

.bowtie-chevron-down-light:before {
	content: "\E00F";
}

.bowtie-chevron-down:before {
	content: "\E010";
}

.bowtie-chevron-left-light:before {
	content: "\E011";
}

.bowtie-chevron-left:before {
	content: "\E012";
}

.bowtie-chevron-right-light:before {
	content: "\E013";
}

.bowtie-chevron-right:before {
	content: "\E014";
}

.bowtie-chevron-up-light:before {
	content: "\E015";
}

.bowtie-chevron-up:before {
	content: "\E016";
}

.bowtie-cloud-fill:before {
	content: "\E017";
}

.bowtie-cloud:before {
	content: "\E018";
}

.bowtie-edit-fill:before {
	content: "\E019";
}

.bowtie-edit:before {
	content: "\E01A";
}

.bowtie-gitlogo:before {
	content: "\E01B";
}
