@font-face {
  font-family: "bowtie";
  src: url('../fonts/bowtie.eot');
  src: url('../fonts/bowtie.eot?#iefix') format('eot'),
    url('../fonts/bowtie.woff') format('woff'),
    url('../fonts/bowtie.ttf') format('truetype'),
    url('../fonts/bowtie.svg#bowtie') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bowtie:before {
  display: inline-block;
  font-family: "bowtie";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bowtie-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.bowtie-2x { font-size: 2em; }
.bowtie-3x { font-size: 3em; }
.bowtie-4x { font-size: 4em; }
.bowtie-5x { font-size: 5em; }
.bowtie-fw {
  width: 1.2857142857142858em;
  text-align: center;
}


.bowtie-alert:before {
	content: "\E001";
}

.bowtie-approve-disapprove-fill:before {
	content: "\E002";
}

.bowtie-approve-disapprove:before {
	content: "\E003";
}

.bowtie-approve-fill:before {
	content: "\E004";
}

.bowtie-approve:before {
	content: "\E005";
}

.bowtie-arrow-down:before {
	content: "\E006";
}

.bowtie-arrow-left:before {
	content: "\E007";
}

.bowtie-arrow-right:before {
	content: "\E008";
}

.bowtie-arrow-up:before {
	content: "\E009";
}

.bowtie-attach:before {
	content: "\E00A";
}

.bowtie-azure-api-management:before {
	content: "\E00B";
}

.bowtie-azure-service-endpoint:before {
	content: "\E00C";
}

.bowtie-build:before {
	content: "\E00D";
}

.bowtie-check-light:before {
	content: "\E00E";
}

.bowtie-check:before {
	content: "\E00F";
}

.bowtie-checkbox-light:before {
	content: "\E010";
}

.bowtie-chevron-down-light:before {
	content: "\E011";
}

.bowtie-chevron-down:before {
	content: "\E012";
}

.bowtie-chevron-left-light:before {
	content: "\E013";
}

.bowtie-chevron-left:before {
	content: "\E014";
}

.bowtie-chevron-right-light:before {
	content: "\E015";
}

.bowtie-chevron-right:before {
	content: "\E016";
}

.bowtie-chevron-up-light:before {
	content: "\E017";
}

.bowtie-chevron-up:before {
	content: "\E018";
}

.bowtie-cloud-fill:before {
	content: "\E019";
}

.bowtie-cloud:before {
	content: "\E01A";
}

.bowtie-edit-delete:before {
	content: "\E01B";
}

.bowtie-edit-fill:before {
	content: "\E01C";
}

.bowtie-edit:before {
	content: "\E01D";
}

.bowtie-gitlogo:before {
	content: "\E01E";
}

.bowtie-math-minus-box-light:before {
	content: "\E01F";
}

.bowtie-math-minus-box:before {
	content: "\E020";
}

.bowtie-math-minus-circle-light:before {
	content: "\E021";
}

.bowtie-math-minus-circle:before {
	content: "\E022";
}

.bowtie-math-minus-light:before {
	content: "\E023";
}

.bowtie-math-minus:before {
	content: "\E024";
}

.bowtie-math-multiply-box-light:before {
	content: "\E025";
}

.bowtie-math-multiply-box:before {
	content: "\E026";
}

.bowtie-math-multiply-light:before {
	content: "\E027";
}

.bowtie-math-multiply:before {
	content: "\E028";
}

.bowtie-math-plus-box-light:before {
	content: "\E029";
}

.bowtie-math-plus-box:before {
	content: "\E02A";
}

.bowtie-math-plus-circle-light:before {
	content: "\E02B";
}

.bowtie-math-plus-circle:before {
	content: "\E02C";
}

.bowtie-math-plus-light:before {
	content: "\E02D";
}

.bowtie-math-plus:before {
	content: "\E02E";
}

.bowtie-math-status-failure-light:before {
	content: "\E02F";
}

.bowtie-math-status-failure:before {
	content: "\E030";
}

.bowtie-status-success-box:before {
	content: "\E031";
}

.bowtie-status-success-light:before {
	content: "\E032";
}

.bowtie-status-success:before {
	content: "\E033";
}
