@font-face {
  font-family: "vscom";
  src: url('../fonts/vscom.eot');
  src: url('../fonts/vscom.eot?#iefix') format('eot'),
    url('../fonts/vscom.woff') format('woff'),
    url('../fonts/vscom.ttf') format('truetype'),
    url('../fonts/vscom.svg#vscom') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vscom:before {
  display: inline-block;
  font-family: "vscom";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vscom-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.vscom { font-size: 1em; }
.vscom-2x { font-size: 2em; }
.vscom-3x { font-size: 3em; }
.vscom-4x { font-size: 4em; }
.vscom-5x { font-size: 5em; }
.vscom-fw {
  width: 1.2857142857142858em;
  text-align: center;
}


.vscom-360-rotate:before {
	content: "\EA01";
}

.vscom-award-cup:before {
	content: "\EA02";
}

.vscom-bar-chart:before {
	content: "\EA03";
}

.vscom-brand-apache-cordova:before {
	content: "\EA04";
}

.vscom-brand-directx:before {
	content: "\EA05";
}

.vscom-brand-office:before {
	content: "\EA06";
}

.vscom-brand-unity:before {
	content: "\EA07";
}

.vscom-brand-visualstudio-in-cloud:before {
	content: "\EA08";
}

.vscom-brand-visualstudio:before {
	content: "\EA09";
}

.vscom-brand-xamarin:before {
	content: "\EA0A";
}

.vscom-building-blocks:before {
	content: "\EA0B";
}

.vscom-clock:before {
	content: "\EA0C";
}

.vscom-cloud:before {
	content: "\EA0D";
}

.vscom-code-bubble:before {
	content: "\EA0E";
}

.vscom-code-opensource:before {
	content: "\EA0F";
}

.vscom-code-pc:before {
	content: "\EA10";
}

.vscom-cpp:before {
	content: "\EA11";
}

.vscom-creditcard:before {
	content: "\EA12";
}

.vscom-database:before {
	content: "\EA13";
}

.vscom-delivery-truck:before {
	content: "\EA14";
}

.vscom-devops-presentation:before {
	content: "\EA15";
}

.vscom-documentation:before {
	content: "\EA16";
}

.vscom-education:before {
	content: "\EA17";
}

.vscom-forum:before {
	content: "\EA18";
}

.vscom-get-package:before {
	content: "\EA19";
}

.vscom-gift:before {
	content: "\EA1A";
}

.vscom-group:before {
	content: "\EA1B";
}

.vscom-headset:before {
	content: "\EA1C";
}

.vscom-heart:before {
	content: "\EA1D";
}

.vscom-help:before {
	content: "\EA1E";
}

.vscom-idea:before {
	content: "\EA1F";
}

.vscom-install:before {
	content: "\EA20";
}

.vscom-integrate:before {
	content: "\EA21";
}

.vscom-iot-chip:before {
	content: "\EA22";
}

.vscom-keyboard:before {
	content: "\EA23";
}

.vscom-language-ccpp:before {
	content: "\EA24";
}

.vscom-lifecycle:before {
	content: "\EA25";
}

.vscom-line-node-chart:before {
	content: "\EA26";
}

.vscom-manufacturing:before {
	content: "\EA27";
}

.vscom-marketplace:before {
	content: "\EA28";
}

.vscom-modern-web-development:before {
	content: "\EA29";
}

.vscom-money:before {
	content: "\EA2A";
}

.vscom-monitor:before {
	content: "\EA2B";
}

.vscom-multiplatform:before {
	content: "\EA2C";
}

.vscom-navigation:before {
	content: "\EA2D";
}

.vscom-news:before {
	content: "\EA2E";
}

.vscom-oem:before {
	content: "\EA2F";
}

.vscom-people-code:before {
	content: "\EA30";
}

.vscom-plug:before {
	content: "\EA31";
}

.vscom-process-gears:before {
	content: "\EA32";
}

.vscom-reading:before {
	content: "\EA33";
}

.vscom-report:before {
	content: "\EA34";
}

.vscom-rocket:before {
	content: "\EA35";
}

.vscom-search-and-apps:before {
	content: "\EA36";
}

.vscom-search:before {
	content: "\EA37";
}

.vscom-setup:before {
	content: "\EA38";
}

.vscom-source:before {
	content: "\EA39";
}

.vscom-status-success:before {
	content: "\EA3A";
}

.vscom-stopwatch:before {
	content: "\EA3B";
}

.vscom-test:before {
	content: "\EA3C";
}

.vscom-toolbox:before {
	content: "\EA3D";
}

.vscom-tools-wrench:before {
	content: "\EA3E";
}

.vscom-tools:before {
	content: "\EA3F";
}

.vscom-user:before {
	content: "\EA40";
}

.vscom-users:before {
	content: "\EA41";
}

.vscom-whats-this:before {
	content: "\EA42";
}

.vscom-work-calendar:before {
	content: "\EA43";
}
