<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bowtie icon font for Visual Studio Team Services</title>
    <link rel="stylesheet" href="style.css?v=@@style-css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h1>Bowtie Icon Font</h1>
                <h2>for Visual Studio Team Services</h2>
            </div>
            <div class="search">
                <input type="text" id="search" placeholder="Search..." onkeyup="search()" />
            </div>
        </div>
        <div class="gallery clearfix">
            <% _.each(items, function(item) { %>
                <div class="item" data-name="<%= item.namebowtie %>" data-keywords="<%= item.keywords.join(' ') %>">
                  <div class="item-row">
                    <span class="icon <%= className %> <%= className %>-<%= item.namebowtie %>">
      </span>
                    <span class="name"> <%= className %>-<%= item.namebowtie %> (<%= item.codebowtie %>)</span>
                  </div>
                </div>
                <% }); %>
        </div>
        <div class="footer">
            <div class="copyright">
                <p>© 2017 Microsoft</p>
            </div>
            <ul class="links">
                <li><a href="https://vsowiki.com/index.php?title=User_Friendly_-_Bowtie_Icon_Font">About Bowtie</a></li>
                <li><a href="https://aka.ms/dduxicon">Request new icons</a></li>
                <li><a href="https://mseng.visualstudio.com/DevDivDesign/_git/bowtie?path=%2Fsource%2Fsvgs&version=GBmaster&_a=contents">Download SVG icons</a></li>
                <li><a href="https://mseng.visualstudio.com/DevDivDesign/_build/index?context=Mine&path=%5C&definitionId=4762&_a=completed">Get the latest build</a></li>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        var items = document.querySelectorAll('.item');
        var search = function() {
            var query = document.getElementById('search').value;
            for(var i = 0; i < items.length; i++) {
              items[i].style.display = 'block';
              if (items[i].dataset.name.indexOf(query) < 0 && items[i].dataset.keywords.indexOf(query) < 0 ) {
                  items[i].style.display = 'none';
              }
            }
        };
    </script>
</body>

</html>
