@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot?v=@@hash');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix&&v=@@hash') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff?v=@@hash') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf?v=@@hash') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>?v=@@hash') format('svg');
  font-weight: normal;
  font-style: normal;
}

.<%= className %> {
  font-family: "<%= fontName %>";
  speak: none;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.<%= className %>-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.<%= className %> { font-size: 1em; }
.<%= className %>-2x { font-size: 2em; }
.<%= className %>-3x { font-size: 3em; }
.<%= className %>-4x { font-size: 4em; }
.<%= className %>-5x { font-size: 5em; }
.<%= className %>-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

/* Spinning animation =========== */
.<%= className %>-ani-spin {
  webkit-animation: <%= className %>-ani-spin 2s infinite linear;
  -moz-animation: <%= className %>-ani-spin 2s infinite linear;
          animation: <%= className %>-ani-spin 2s infinite linear;
}
.<%= className %>-ani-spin-pulse {
  -webkit-animation: <%= className %>-ani-spin 1s infinite steps(10);
  -moz-animation: <%= className %>-ani-spin 1s infinite steps(10);
          animation: <%= className %>-ani-spin 1s infinite steps(10);
}
@-webkit-keyframes <%= className %>-ani-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-moz-keyframes <%= className %>-ani-spin {
  0% {
    -moz-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes <%= className %>-ani-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

<% _.each(glyphs, function(glyph) { %>
.<%= className %>-<%= glyph.name %>:before {
	content: "\<%= glyph.codepoint %>";
}
<% }); %>
