html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 551px) {
    width: 80%;
  }
  @media screen and (min-width: 769px) {
    width: 60%;
  }
}

.header {
  background-color: #0078d7;
  color: #fff;
  padding: 1em 2em;
  position: fixed;
  top:0;
  height: 150px;
  width: inherit;
  overflow: hidden;
  box-shadow: 0 10px 30px -10px rgba(0,0,0,.2);
  h1,
  h2 {
    font-weight: 400;
    margin: 0;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  @media screen and (min-width: 769px) {
    display: table;
    height: 80px;
    &>div {
      display: table-cell;
      vertical-align: bottom;
    }
  }
}
.gallery {
  background-color: #fff;
  margin-top: 150px;
  width: 100%;
  padding: 2em;
  @media screen and (min-width: 769px) {
    margin-top: 80px;
  }

  thead {
    font-weight: 600;
  }

  th, td {
    border-bottom: 1px solid #ccc;
    padding: 1em;
  }

  .bowtie {
    font-size: 14px;
  }

  .ms-Icon {
    font-size: 16px;
  }
}

.icon {
  padding-right: .5em;
  color: #444;
  text-align: center;
}

.search {
  margin-top: 1em;
  input {
    width: 100%;
    padding: 1em;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      border-color: #106ebe;
    }
  }
}


.footer {
  height: 60px;
  overflow: hidden;
  background-color: #212121;
  color: #fff;
  padding: 0 2em;
  display: table;
  width: 100%;
}
.copyright {
  opacity: .5;
}
.links {
  list-style: none;
  padding: 0;
  a {
    &, &:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 769px) {
  .footer {
    display: table;
  }
  .copyright, .links {
    display: table-cell;
    vertical-align: middle;
  }
  .links {
    text-align: right;
    li {
      display: inline-block;
      &:not(:first-child) {
        &:before {
          display: inline-block;
          content: '';
          width: 1px;
          height: 1em;
          background-color: #fff;
          margin-left: 1em;
          margin-right: 1em;
          vertical-align: middle;
        }
      }
    }
  }
}

@font-face {
    font-family: "Bowtie";
    font-weight: normal;
    font-style: normal;
    src: url('Bowtie.eot?v=@@hash');
    src: url('Bowtie.eot?iefix&&v=@@hash') format('embedded-opentype'), url('Bowtie.ttf?v=@@hash') format('truetype'), url('Bowtie.woff?v=@@hash') format('woff'), url('Bowtie.svg#Bowtie?v=@@hash') format('svg');
}

@font-face {
    font-family: "FabricMDL2Icons";
    font-weight: normal;
    font-style: normal;
    src: url('FabMDL2.woff2') format('woff2'),url('FabMDL2.woff') format('woff'),url('FabMDL2.ttf') format('truetype');
}

.icon {
    font-size: 1em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 16px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bowtie {
  font-family: 'Bowtie' !important;
  font-size: 14px;
}

.ms-Icon {
  font-family: 'FabricMDL2Icons' !important;
  font-size: 16px;
}


<% _.each(items,
function(item) {
    %>.bowtie-<%=item.namebowtie %>:before {
        content: "\<%= item.codebowtie %>";
    }
    .ms-Icon--<%=item.namemdl2 %>:before {
        content: "\<%= item.codemdl2 %>";
    }
    <%
}

);
%>
